*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}

/* cabeçalho */

header{
    font-size: 50px;
    background-color: #9e9da2;
    text-align: center;
}

/* index */

#imagem-pessoal{

  text-align: center;
  margin: 60px;
  

}

.texto-pessoal{
    text-align: center;
    margin: auto;
    margin-top: 100px;
    font-size: x-large;
}

button {

    border: none;
    color: white;
    background-color: #4b4a4d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover{

    background-color: #1a0e1e;
}


body{

    background-color: white;
}

.paginas{
    
    background-color: #9e9da2;
    text-align: center;
    height: 100px;
   
}

.redes-sociais{
    
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #9e9da2;
    text-align: center;
    height: 100px;
}

.imagens-redes1:hover{
    opacity: 0.55;

}

.imagens-redes2:hover{
    opacity: 0.55;
}

.imagens-redes3:hover{
    opacity: 0.55;
}

.texto-rede{
    text-align: center;
    font-size: 20px;
    margin: 10px;
    font-weight: bold;
}



/* sobre */

.texto-formacao{
    margin-top: 50px;
    margin-left: 20px;
}

.texto-cursos{
    margin-left: 20px;
}

.texto-experiencia{
    margin-left: 20px;
    
}

.texto-habilidades{
    margin-left: 20px;

}

/* contato */

#area{
  margin-top: 50px;
  position:relative;
  width:320px;
  height:270px;
  font-weight: bold;
  margin-left: 20px;
  text-align: center;
}

#area #formulario{

  position:static;
  display:block;
 
}

fieldset{

  width:400px;
  height:250px;
  
}

legend{

  font-style:bold;
}

#formulario label{

  position:absolute;
  left:19px;
  margin-right:5px;
}

#formulario input.campo-nome{

  position:absolute;
  left:95px;
  top:23px;
  width:225px;
}

#formulario input.campo-email{

  position:absolute;
  left:95px;
  margin-top:2px;
  width:225px;
}

#formulario input.campo-telefone{

  position:absolute;
  left:95px;
  margin-top:2px;
  width:225px;
}
